{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "arrowParens": "avoid",
        "endOfLine": "auto",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.json",
      "options": {
        "semi": false
      }
    }
  ]
}
